<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/asked.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <section class="asked">
      <h3>Pregunta <%=@question.id%>:</h3>
      <h3><%= @question.description %></h3>
      <h5>Tu respuesta "<%= @answer %> "</h5>

      <form action=<%="/asked/#{@question.id}"%> method="POST" id="asked-form">
        <div class="options">            
          <h2><%=@respuesta %></h2>
          <input type="submit" value="Siguente pregunta" id="submit-button" class="submit-button" onclick="submitForm()">
        </div>
      </form>
      
    </section>
  </body>
</html>