<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/asked.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <section class="asked">
      <h3 class="descrip"><%= @question.description %></h3>
      <h5>" <%= @answer %> "</h5>

      <form action=<%="/asked/#{@question.id}"%> method="POST" id="asked-form">
        <div class="options">  
          <% if @respuesta =='RESPUESTA INCORRECTA' %> 
            <h2 class="red"><%=@respuesta %></h2>
            <h2 class="correct"> Respuesta correcta: <%=@correct %></h2>
          <% else %>   
            <h2 class="green"><%=@respuesta %></h2>
          <% end %>            
          <input type="submit" value="Siguiente pregunta" id="submit-button" class="submit-button" onclick="submitForm()">
        </div>
      </form>
      
    </section>
  </body>
</html>