<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/asked.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <section class="asked">
      <h3 class="descrip"><%= @question.description %></h3>
      <% if @answer !='Respuesta no contestada' %> 
        <h5>Tu respuesta fue: "<%= @answer %>"</h5>
      <% end %> 
      
      <form action=<%="/asked/#{@question.id}"%> method="POST" id="asked-form">
        <div class="options">  
          <% if @respuesta =='SE AGOTO EL TIEMPO' %> 
            <h2 class="red"><%=@respuesta %></h2>
            <h2 class="correct"> Respuesta correcta: "<%=@correct %>"</h2>
          <% end %>
          <% if @respuesta =='RESPUESTA INCORRECTA' %> 
            <h2 class="red"><%=@respuesta %></h2>
            <h2 class="correct"> Respuesta correcta: "<%=@correct %>"</h2>
            <p>Perdiste tu racha</p>
          <% end %>   
          <% if @respuesta =='RESPUESTA CORRECTA' %> 
            <h2 class="green"><%=@respuesta %></h2>
            <p>Llevas una racha de <strong><%=@streak%></strong> respuestas correctas</p>
          <% end %>
          <input type="submit" value="Siguiente pregunta" id="submit-button" class="submit-button">
        </div>
      </form>
      
    </section>
  </body>
</html>