<!DOCTYPE html>
<html>
  <head>
    <title>Store - Eco-Tree</title>
    <link rel="stylesheet" href="/styles/buyItem.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    
   <header>
    <nav class="nav">
      <a href="/store" class="menu">Volver</a>
      <div class="eco_coin">
        EcoCoins: <strong class="price"><%= @coin %></strong>
      </div>
    </nav>
  </header>

  <%# variables para usar en los sections %>
  <% item_price = '' %>
  

  <%# Muestra cada item %>
  <section class="box-<%= @item_selected %>">
    <% @item.each do |item| %>
      <div class="box-shop" data-name="<%= item.name %>" data-description="<%= item.description %>"data-id="<%= item.id %>">
        <% if @item_selected_id == item.id %>
          <strong class="descrip" style="color: black;">En uso</strong>
        <% else %>
          <p class="descrip" style="color: white;">En uso</p>
        <% end %>
        
        <img src="/front/<%= @item_selected %>s/<%= item.name %>.png" class="<%= @item_selected %>"/>
        <p class="descrip">- <%= item.description %></p>
        <% if @item_comprados[item.id] %>
          <strong class="comprado">COMPRADO</strong>
        <% else %>
          <strong class="precio">$  <%= item.price %></strong>
        <% end %>
        <% item_price = item.price %>
      </div>
    <% end %>
  </section>
  
  <%# Muestra si se puede comprar el item %>
  <section class="buy-confirm" id="buy-confirm" style="display: none;">
    <div class="pre-image-<%= @item_selected %>">
      <img id="item-image-buy" class="<%= @item_selected %>"/> 
    </div>
    <p>Desea realizar la compra de <strong class="description" id="item-description-buy"></strong> 
    por <span class="price" id="item-coin-buy"> <%= item_price %> </span> coins?</p>
    <div class="buttons">
      <button class="button" onclick="cancelPurchase()">NO</button>
      <button class="button" onclick="confirmPurchase()">SI</button>
    </div>
  </section>

  <%# Muestra si el item ya se compro %>
  <section class="buy-confirm" id="confirmed_selection" style="display: none;">
    <div class="pre-image-<%= @item_selected %>">
      <img id="item-image-select" class="<%= @item_selected %>"/>
    </div>
    <p>Desea seleccionar <strong class="description" id="item-description-select"></strong>?</p>
    <div class="buttons">
      <button class="button" onclick="cancelPurchase()">NO</button>
      <button class="button" onclick="confirmPurchase()">SI</button>
    </div>
  </section>

  <%# Muestra si el usuario no tiene saldo %>
  <section class="buy-confirm" id="negated_selection" style="display: none;">
    <p> NO TIENE ECO-COINS SUFICIENTES PARA COMPRAR <strong class="description" id="item-description-negated"></strong><br> Necesitas <span class="price" id="item-coin-buy"> <%= item_price %> </span> coins para realizar la compra</p>
    <div class="buttons">
      <button class="button" onclick="cancelPurchase()"> Cerrar </button>
    </div>
  </section>


  <script>
    // Convierte a JSON
    const itemComprados = <%= @item_comprados.to_json %>; // Convierte @item_comprados a JSON
    const item_price = <%= @item_price.to_json %>; // Convierte @item_comprados a JSON
    const coin = <%= @coin.to_json %>;
    const item = <%= @item_selected.to_json %>; 

    //ids
    const boxShops = document.querySelectorAll('.box-shop');
    const buyConfirmSection = document.getElementById('buy-confirm');
    const confirmedSelection = document.getElementById('confirmed_selection');
    const negatedSelection = document.getElementById('negated_selection');
    const itemImage = document.getElementById('item-image-buy'); 
    const itemImageSelect = document.getElementById('item-image-select'); 
    const itemDescription = document.getElementById('item-description-buy'); 
    const itemDescriptionSelect = document.getElementById('item-description-select'); 
    const itemDescriptionNegated = document.getElementById('item-description-negated'); 
    const itemCoin = document.getElementById('item-coin-buy'); 


    boxShops.forEach(boxShop => {
      boxShop.addEventListener('click', function() {
        const name = this.getAttribute('data-name');
        const id = this.getAttribute('data-id');
        const description = this.getAttribute('data-description');
        const isPurchased = checkIfPurchased(id);
        const isBalanced = checkBalance(id);

        itemImage.src = `/front/${item}s/${name}.png`;
        itemImageSelect.src = `/front/${item}s/${name}.png`;
        itemDescription.textContent = description;
        itemDescriptionSelect.textContent = description;
        itemDescriptionNegated.textContent = description;

        if (isPurchased) {
          confirmedSelection.style.display = 'flex';
        } else {
          if (isBalanced){
            buyConfirmSection.style.display = 'flex';
          } else {
            negatedSelection.style.display = 'flex';
          }
        }        
      });
    });

    //retorna true si el item esta en el hash de comprados
    function checkIfPurchased(itemName) {       
      return itemComprados[itemName];
    }

    // retorna true si se puede comprar el item
    function checkBalance(itemId) {       
      const price = item_price[itemId];

      if (price <= coin){
        return true
      } else {
        return false
      }
    }

    //Quita el displey a todos los sections
    function cancelPurchase() {
      buyConfirmSection.style.display = 'none';
      confirmedSelection.style.display = 'none';
      negatedSelection.style.display = 'none';
    }

    //Envia un JSON al servidor con el item seleccionado
    function confirmPurchase() {
      const selectedName = itemImage.getAttribute('src').replace(`/front/${item}s/`, '').replace('.png', '');

      const data = { name: selectedName }; //JSON
      const url = `/buyItem?item=${item}`;
      const xhr = new XMLHttpRequest();
      xhr.open('POST', url, true);
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xhr.send(JSON.stringify(data));

      buyConfirmSection.style.display = 'none';
      confirmedSelection.style.display = 'none';
      location.reload();
    }

  </script>
  </body>
</html>