<!DOCTYPE html>
<html>
  <head>
    <title>Eco-Tree</title>
    <link rel="stylesheet" href="/styles/game.css" />
    <link rel="icon" href="/front/icon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navigation">
          <a href="/tree" class="profile">Mi Arbol</a>
          <div class="points">
            puntos: <%= @user.points %>
          </div>
          <a href=<%="/menu"%> class="profile">Menu</a>
      </nav>
    </header>
    <section class="play-section">
      <h2 class ="tle">Vamos a jugar <%= @user.username %>!!</h2>
      <h3 class="ques">Pregunta <%=@question.id%>:</h3>
      <p clas="des"> <%= @question.description %> </p>
      <form action=<%="/game/#{@question.id}"%> method="POST" id="game-form">
        <div class="options">
          <% @options.each do |option| %>
            <label class="option">
              <input type="radio" name="selected_option_id" class="option-button" value="<%= option.id %>" id="option-<%= option.id %>">
              <%= option.description %>
            </label>
          <% end %>
        </div>
        <input type="submit" value="Responder" id="submit-button" class="submit-button" onclick="submitForm()">
      </form>
    </section>
  </body>
</html>