<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practicar</title>
   <link rel="Stylesheet" href="/styles/practice.css">
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<header>
  <nav class="nav">
      <a href=<%="/menu"%> class="profile">Volver</a>
  </nav>
</header>
  <section class="practice-section">
      <div class="Question_Box">
      <% if !@questions_asked.nil? %>
        <% if @question_index < @questions_asked.length%>
          <% question_id = @questions_asked[@question_index] %>
            <% question = Question.find(question_id) %>
            <div class="question">
              <%if question.id == 1%>
              <h2 class ="tle">Estas son las respuestas correctas <%= @user.username %>!!</h2>
              <% end %>
              <h3 class="pregunta">Pregunta <%= question.id %></h3>
              <p class="descripcion"><%= question.description %></p>
              <ul>
                <% correctOption = Option.where(question_id: question_id, isCorrect: true).first %>
                <p class="correct"> <%= correctOption.description %> </p>
              </ul>
              <ul>
                <% detail = question.detail %>
                <p class="detail"> DATO: <%= detail %> </p>
              </ul>
            </div>
        <% else %>
          <p> No hay preguntas por practicar! </p>
        <% end %>
      <% else %>
        <p>No haz jugado aún. ¡Empieza a responder preguntas para poder practicar!</p>
      <% end %>
      </div>
      
    </section>
      <form action="/practicar" method="POST" >
      <% if @question_index < @questions_asked.length%>
        <input type="submit" value="Siguiente" class="next-button">
      <% end %>
      </form>
 
</body>
</html>