<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tree</title>
  <link rel="Stylesheet" href="/styles/tree.css">     
  <link rel="icon" href="/front/icon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<style>
  body{
    background: url('/front/fondos/<%= @fondo %>.png') no-repeat;
    display: flex;
    min-height: 100vh;
    background-size:cover ;
    background-position: center;
  }
</style>

<body>

<header>
  <nav class="nav">
  <% if @tree == false%>
    <a href=<%="/menu"%> class="profile">Volver</a>
  <% else %>
    <a href=<%="/levels"%> class="profile">Volver</a>
  <% end %>
  </nav>
</header>



<% @user.points.times do |i|%>
  <img src="/front/hojas/<%=@hoja %>.png" alt="Leaf" class="leaf-image leaf-<%= i + 1 %>">
<% end %>



</body>
</html>